body {
  background: #333300;
  font-family: sans-serif;
}

h1 {
  font-family: serif;
  font-size: 3em;
  color: #ffffe6;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: serif;
  color: #ffffe6;
  clear: both;
  padding-top: 25px;
}

h3, a {
  color: #ffffe6;
  text-align: center;
}

strong {
  color: #ffffe6;
}

div {
  width: 33%;
  float: left;
}

li {
  text-align: center;
  list-style: none;
  font-size: 20px
}

img {
  width: 95%;
  display:block;
  margin: 10px auto;
  box-shadow: 10px 5px rgba(255, 255, 204, .25);
  border: solid #000 1px;
}

p {
  color: white;
  font-size: 1em;
  margin: 10px 50px;
}

nav li {
  display: inline-block;
  width: 15%;
  font-size: 20px;
  text-align: center;
}

nav li a{
  text-decoration: none;
  text-transform: capitalize;
}

nav li a:hover {
  color:white;
}

h3 a {
  font-weight: bolder;
  font-size: 25px;
}

div img {
  transition: transform 5s;
}

div img:hover {
    transform: rotateY(180deg);
}
